.page {
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 13px;
  border-bottom: 2px solid #20232a;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icon {
  font-size: 1.5em;
  color: #20232a;
}

.tittle-page {
  margin: 0;
  font-size: 1.6em;
  font-weight: 500;
}

.add-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease;
}

.add-button:hover {
  background-color: #218838;
}

.table-page {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  margin-bottom: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table-page th {
  background-color: #20232a;
  color: #fff;
  height: 20px;
  font-weight: 200;
  border: none;
  font-size: 0.7em;
  padding: 8px;
}

.table-page th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.table-page th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table-page td {
  padding: 8px;
  text-align: left;
  font-size: 0.6em;
}

.table-page tbody tr {
  transition: all 0.2s ease;
}

.table-page tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.1) !important;
}

.table-page tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-page tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.acciones-botones {
  display: flex;
  justify-content: space-around;
  gap: 0.4rem;
}

.icon-button {
  border: none;
  cursor: pointer;
  font-size: 13px;
  width: 23px;
  height: 23px;
  transition: color 0.2s ease;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.35s ease;
}

.icon-button.edit {
  color: #fff;
  background-color: rgb(243, 209, 19);
}

.icon-button.delete {
  color: #fff;
  background-color: rgb(202, 4, 4);
}

.icon-button.edit:hover {
  background-color: rgb(221, 193, 11);
}

.icon-button.delete:hover {
  background-color: rgb(167, 6, 6);
}

.project-cell {
  width: 100%;
  display: flex; 
  flex-direction: column;
  gap: 0.35rem;
}

.project-container {
  background-color: #41444c;
  border: 1px solid #41444c;
  color: #e2e2e2;
  border-radius: 8px; 
  padding: 2px 8px;
  font-size: 0.6rem;
  font-weight: 400;
  width: fit-content;
  white-space: nowrap;
}

.project-container.alert {
  background-color: rgb(220, 37, 37);
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.6em;
}

.active-estate {
  background-color: #28a745;
  margin-top: 4px !important;
  border: none;
}

.inactive-estate {
  background-color: rgb(220, 37, 37);
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}
